@model List<CardData>

@{
    ViewData["Title"] = "Collection";
}

<div class="text-center collection-panel">
    <h1 class="display-4">MTG Inventory</h1>
    <div class="collection-header">
        <img class="set-icon-lg" src=@(ViewData["setIconUrl"] != null ? @ViewData["setIconUrl"] :
            "https://svgs.scryfall.io/sets/planeswalker.svg") />
        <div class="dropdown-center">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                @(ViewData["setName"] != null ? ViewData["setName"] : "Choose a set")
            </button>
            <ul class="dropdown-menu scrollable-menu">
                @if (ViewData["setList"] != null)
                {
                    var list = (List<MTG_Set>)(ViewData["setList"] ?? new());
                    foreach (MTG_Set set in list)
                    {
                        <li>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Collection" asp-route-setCode=@set.Code>
                                <img class="set-icon" src=@set.IconUrl />
                                @set.Name
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
        <img class="set-icon-lg" src=@(ViewData["setIconUrl"] != null ? @ViewData["setIconUrl"] :
            "https://svgs.scryfall.io/sets/planeswalker.svg") />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="table-responsive collection-table">
                <table class="table table-striped table-hover text-nowrap">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Cnt</th>
                        <th scope="col">Name</th>
                        <th scope="col">Color</th>
                        <th scope="col">Casting Cost</th>
                        <th scope="col">Rarity</th>
                    </thead>
                    <tbody>
                        @foreach (CardData curCard in @Model)
                        {
                            <tr height="25px">
                                <td>@curCard.Card!.CollectorNumber</td>
                                <td>@curCard.TotalCount</td>
                                <td>@curCard.Card!.Name</td>
                                <td>@curCard.Card!.ColorIdentity</td>
                                <td>@curCard.Card!.CastingCost</td>
                                <td>@curCard.Card!.Rarity</td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
            <div class="col-2">
                <p>The card image goes here</p>
            </div>
        </div>
    </div>
</div>
